{%extends "base.html"%}

{%block title%}Çalışan Görüntüleme {%endblock%}

{%block content%} <div class="container mt-5">
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Giriş Saati</th>
                <th scope="col">Temel Giriş Saati</th>
                <th scope="col">Giriş Tarihi</th>
                <th scope="col">Çıkış Saati</th>
                <th scope="col">Temel Çıkış Saati</th>
                <th scope="col">Çıkış Tarihi</th>
                <th scope="col">Denge</th>
                <th scope="col">Mesai Ücreti</th>
                <th scope="col">Tahakkuk</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Veri 1</td>
                <td>Veri 2</td>
                <td>Veri 3</td>
                <td>Veri 4</td>
                <td>Veri 5</td>
                <td>Veri 6</td>
                <td>Veri 7</td>
                <td>Veri 6</td>
                <td>Veri 7</td>
            </tr>
        </tbody>
    </table>
</div>{%endblock%}